---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---


{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

<h2>Some Places Where I Have been</h2>

<p>
  Some places where I have been giving talks, 
  sometimes as visiting professor, 
  others as a invited lecturer, 
  others as speaker presenting a research article ...
</p>

{% if site.talkmap_link == true %}
  <iframe src="/talkmap/map.html" height="700" width="850" style="border:none;"></iframe>
{% endif %}
